# IDEs and editors
.idea/
.vscode/

# Build directories
build/

# Prerequisites
*.d

# Compiled Object files
*.o
*.obj
*.slo
*.lo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.a
*.lib
*.lai
*.la

# Executables
*.exe
*.out
*.app
